
body * {
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}

/* ================== header  style ================== */
header {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    padding: 20px 30px; 
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap; 
}

.logo {
    flex: 0 0 auto;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.nav-links a {
    text-decoration: none;   
    color:#062A44;   
    font-family: 'Inter', sans-serif;          
    font-size: 18px;
    font-weight: 600;
    transition: color 0.5s;
}

.nav-links a:hover {
    color: #073141;   
    transform: translateY(-2px);    
    font-weight: 700;   
}

.login {
    flex: 0 0 auto; 
    transition: all 0.3s ease;
}

.login button {
    background-color: #1D7293;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    box-shadow: #1D7293 0px 10px 20px -10px;
    width: 192px;
    height: 50px;
}

.login button:hover {
    background-color:#073141;
    box-shadow: #073141 0px 10px 20px -10px;
    transform: translateY(-2px);
}

/* ================== Main intro section  style ================== */
section {
    display: flex;
    justify-content: center;   
    align-items: center;       
    gap: 50px;                 
    padding: 50px 20px;
    text-align: left;          
    flex-wrap: wrap;           
}

.intro-text {
    max-width: 600px;          
    display: flex;
    flex-direction: column;    
    align-items: flex-start;   
    gap: 20px;
}

.intro-text h1 {
    font-family: 'Inter', sans-serif;
    color:#073141;
    font-size: 60px;
    line-height: 100%;
    font-weight: 600;
}

.buttons {
    display: flex;
    gap: 15px;        
    margin-top: 20px; 
}

.intro-text button {
    background-color: #1D7293;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    box-shadow: #1D7293 0px 10px 20px -10px;
    transition: background 0.3s;
}

.intro-text button:hover {
    background-color: #073141;
    box-shadow: #073141 0px 10px 20px -10px;
    transform: translateY(-2px);
}

.intro-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* ================== Main About section  style ================== */
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
    padding: 40px 20px;
    height: auto; 
    flex-wrap: wrap;
    margin-top: 25px;
}

.about-section h2,h3 {
    font-family: 'Inter', sans-serif;
    font-style: 'extra-bold';
    color:#1D7293;
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    margin-bottom: 20px;
}

.about-section p {
    font-family: 'Inter', sans-serif;
    color:#073141;   
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    margin: 0 auto;
    max-width: 800px;
}


.about-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 10px;
    flex-wrap: wrap; 
    text-align: center;
}

.about-stats .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: -20px;
    max-width: 150px;
}

.about-stats img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 4px;
}

.about-stats h3 {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #073141;
    font-weight: 500;
    margin-bottom: 2px;
}

.about-stats h2 {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: #073141;
    font-weight: 700;
    margin-bottom: 2px;
}
/* ================== feature artwork  style ================== */

.feature-artwork {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
    padding: 40px 20px;
    height: auto; 
    flex-wrap: wrap;
    margin-top: 25px;
}

.feature-artwork h2 {
    font-family: 'inter', sans-serif;
    font-style: 'extra-bold';
    color:#1D7293;
    letter-spacing: 15%;
    font-size: 24px;
    line-height: 100%;
    font-weight: 800;
    margin-bottom: 20px;
}

.feature-artwork p {
    font-family: 'Inter', sans-serif;
    color:#073141;   
    font-size: 15px;
    line-height: 100%;
    font-weight: 400;
    margin: -5 auto;
    max-width: 600px;
}


.artwork-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    margin-top: 40px; 
    padding: 0 20px; 
}

.artwork {
    overflow: hidden; 
    border-radius: 12px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.artwork img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
}

.artwork:hover {
    transform: translateY(-8px); 
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2); 
}
/* ================== community  style ================== */
.join-community {
    background-image: url(../asset/background.jpg);
    width: 80%;
    border-radius: 10px;
}

.join-community h3 {
    font-family:'manrope', sans-serif;
    font-style: 'extra-bold';
    color:#F6FDFF;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 15%;
    font-weight: 800;
    margin-bottom: 40px;
    padding-top: 20px;
}
.join-community p {
    font-family: 'Inter', sans-serif;
    color:#F6FDFF;   
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 auto;
    max-width: 600px;
    padding-bottom: 20px;
}

.join-community button {
    background-color: white;
    color: #1D7293;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 12px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    box-shadow: #1D7293 0px 10px 20px -10px;
    width: 175px;
    height: 40px;
}

.join-community button:hover {
    color: white;
    background-color:#073141;
    box-shadow: #073141 0px 10px 20px -10px;
    transform: translateY(-2px);
}
/* ================== Resources-and-Tutorials  style ================== */

/* Whole Section */
.resource {
    margin-top: 60px;
    padding: 60px 0;
    background: #fafafa;
    text-align: center;
    font-family: Arial, sans-serif;
}


.resource h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #1D7293;
}

.resource > .resources p {
    max-width: 900px;
    margin: 0 auto 50px;
    font-size: 16px;
    color: #073141;
    line-height: 1.6;
}


.resource-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}


.resource-card {
    display: flex;  
    align-items: flex-start;
    width: 40%;
    background: #1d719336;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;

    box-shadow: 
        inset 0 2px 8px rgba(0,0,0,0.08),   
        0 5px 15px rgba(0,0,0,0.1);         

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-align: left;
}



.resource-card img {
    border-radius: 12px;
    width: 120px;
    height: auto;
    margin-right: 20px;
    flex-shrink: 0; 
}


.resource-card .text-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.resource-card h4 {
    font-size: 20px;
    margin: 0 0 10px;
    color: #073141;
}


.resource-card p {
    font-size: 14px;
    color: #073141;
    line-height: 1.5;
    margin: 0;
}


.resource-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

/* ================== guide  style ================== */


.guide {
    margin-top: -25px;
    padding: 5px 0;
    background: #fafafa;
    text-align: center;
    font-family: 'manrope', sans-serif;

}


.guide h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #1D7293;
}


.guides-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}


.guide-card {
    display: flex;  
    align-items: flex-start;
    width: 40%;
    background: #1d719336;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;

    box-shadow: 
        inset 0 2px 8px rgba(0,0,0,0.08),   
        0 5px 15px rgba(0,0,0,0.1);         

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-align: left;
}


.guide-card img {
    border-radius: 12px;
    width: 120px;
    height: auto;
    margin-right: 20px;
    flex-shrink: 0; 
}


.guide-card .text-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.guide-card h4 {
    font-size: 20px;
    margin: 0 0 10px;
    color: #073141;
}


.guide-card p {
    font-size: 14px;
    color: #073141;
    line-height: 1.5;
    margin: 0;
}


.guide-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

/* ================== inspire  style ================== */

.workshops {
    margin-top: 10px;
    padding: 5px 0;
    background: #fafafa;
    text-align: center;
    font-family: 'manrope', sans-serif;

}


.workshops h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #1D7293;
}


.inspire-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}


.inspire-card {
    display: flex;  
    align-items: flex-start;
    width: 40%;
    background: #1d719336;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;

    box-shadow: 
        inset 0 2px 8px rgba(0,0,0,0.08),   
        0 5px 15px rgba(0,0,0,0.1);         

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-align: left;
}


.inspire-card img {
    border-radius: 12px;
    width: 120px;
    height: auto;
    margin-right: 20px;
    flex-shrink: 0; 
}


.inspire-card .text-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.inspire-card h4 {
    font-size: 20px;
    margin: 0 0 10px;
    color: #073141;
}


.inspire-card p {
    font-size: 14px;
    color: #073141;
    line-height: 1.5;
    margin: 0;
}


.inspire-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

/* ================== footer  style ================== */

footer {
    bottom: 0;
    left: 0;
    width: 100%;                              
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;       
    padding: 20px 30px;
    flex-wrap: wrap;
    background: #f9f9f9;

}

.footer-column {
    flex: 1;                       
    margin: 10px 20px;
}

.footer-column h3 {
    text-decoration: none;   
    color:#062A44;   
    font-family: 'Inter', sans-serif;          
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    transition: color 0.5s;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;  
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    text-decoration: none;
    transition: color 0.3s;
    color:#325168;   
    font-family: 'Inter', sans-serif;          
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    transition: color 0.5s;
}

.footer-column ul li a:hover {
    color: #073141;
    font-weight: 600;
}

/* ================== Responsive ================== */

@media (max-width: 1024px) {
    .intro-text h1 {
        font-size: 42px;
    }

    .nav-links {
        gap: 15px;
    }

    footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-start;
    }

    .intro-text h1 {
        font-size: 32px;
        line-height: 1.3;
    }

    section {
        flex-direction: column;
        text-align: center;
    }

    .intro-text, .intro-image {
        max-width: 100%;
    }

    .buttons {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .login button {
        width: 100%;
        height: auto;
    }

    .intro-text h1 {
        font-size: 26px;
    }

    .about-section p {
        font-size: 16px;
        line-height: 24px;
    }
}
